<%- include('includes/head') %>
  <%- include('includes/nave') %>
    <div class="conteiner">
      <div class="row">
        <div class="col-lg-2"> </div>
        <div class="col-lg-8 my-3">
          <h1 class="display-1 text-center">olá <%= user.email %></h1>
          <p class="text-center lead">você logou com sucesso</p>
          <%- include('includes/messeges') %>


          </div>
        </div>
      </div>

    </div>
    <%- include('includes/footer') %>